Repository googleapis/nodejs-kms, pull requests merged in 2021-01, with the labels that each got.

#411 chore: update license headers
  .jsdoc.js
  protos/protos.d.ts
  protos/protos.js
  src/v1/index.ts
  src/v1/key_management_service_client.ts
  synth.metadata
  system-test/fixtures/sample/src/index.js
  system-test/fixtures/sample/src/index.ts
  system-test/install.ts
  test/gapic_key_management_service_v1.ts
Labels: api: cloudkms, cla: yes, context: none

#412 feat: introduces style enum
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  synth.metadata
Labels: api: cloudkms, cla: yes, context: none

#409 feat(samples): add integrity verification to Cloud KMS crypto samples
  package.json
  samples/decryptAsymmetric.js
  samples/decryptSymmetric.js
  samples/encryptAsymmetric.js
  samples/encryptSymmetric.js
  samples/getPublicKey.js
  samples/package.json
  samples/signAsymmetric.js
Labels: api: cloudkms, cla: yes, samples

#415 refactor(nodejs): move build cop to flakybot
  .kokoro/samples-test.sh
  .kokoro/system-test.sh
  .kokoro/test.sh
  .kokoro/trampoline_v2.sh
  synth.metadata
Labels: api: cloudkms, automerge, cla: yes, context: full
